{% for connection, cert_var in [('winrm', 'winrm_ca_trust_path'), ('psrp', 'psrp_ca_cert')] %}
{{ connection }}  ansible_host={{ inventory_hostname }} ansible_connection={{ connection }}
{% for scenario, path in [('file', '/root/ca.pem'), ('system_file', '%SYSTEM_DIR%/%SYSTEM_FILE%'), ('system_dir', '%SYSTEM_DIR%')] %}
{{ connection }}_{{ scenario }}  ansible_host={{ inventory_hostname }} ansible_connection={{ connection }} ansible_{{ cert_var }}={{ path }}
{% endfor %}
{% endfor %}

[all:vars]
ansible_user={{ ansible_user }}
ansible_password={{ ansible_password }}
ansible_port=5986
